[Unit]
Description=Koubachi-Cloud Service
After=network.target

[Service]
ExecStart= /home/pi/.local/bin/pipenv run python -m koubachi_pyserver.app
WorkingDirectory=/home/pi/<path to koubachi pyserver>
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target

